.header
{
   
    background: rgb(9,41,121);
    background: linear-gradient(90deg, rgba(9,41,121,1) 0%, rgba(0,212,255,1) 100%);
}

.connectButton{
    background-color: #F7665E !important;
    border: 1px solid white !important;
}

.connectButton:hover{
    background-color: #D42020 !important;
}

.header li a
{
    text-decoration: none;
    color:white;
}
 li a:hover
{
    text-decoration: none;
    color:#F7665E !important;
    font-weight: 700;
}
html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 


.footer
{
   
   
    background: rgb(9,41,121);
    background: linear-gradient(90deg, rgba(9,41,121,1) 0%, rgba(0,212,255,1) 100%);
    margin-top: 100px;
}




   
   